<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.camera2.extensions">

    <!-- Permission declarations -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="one.empty3.apps.cam.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.MyFeaturedPictures.Fullscreen" />
        <activity
            android:name=".CameraActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:theme="@style/AppTheme">

            <!-- Main app intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>